<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jxc"
        tools:targetApi="31">
        <activity
            android:name="com.dgby.jxc.activity.WelcomeActivity"
            android:theme="@style/splashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dgby.jxc.activity.main.GridActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
        <activity
            android:name="com.dgby.jxc.activity.goods.ProductActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>

        <activity
            android:name="com.dgby.jxc.activity.sales.SaleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
        <activity
            android:name="com.dgby.jxc.activity.inventory.InventoryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
        <activity
            android:name="com.dgby.jxc.activity.count.CountActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
        <activity
            android:name="com.dgby.jxc.activity.role.RoleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
        <activity
            android:name="com.dgby.jxc.activity.user.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
        <activity
            android:name="com.dgby.jxc.activity.user.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
        <activity
            android:name="com.dgby.jxc.activity.user.ForgotPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
        <activity
            android:name="com.dgby.jxc.activity.user.ResetPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.oher.Add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>

        <activity
            android:name=".activity.oher.Delete"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>

        <activity
            android:name=".activity.Update"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.oher.Select"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.oher.Browse"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
    </application>

</manifest>